 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

.navbar-area1 {
  z-index: 999;
  transition: 1s;
}
.navbar-area1.sticky {
  top: 0;
  left: 0;
  position: sticky !important;
  width: 100%;
  z-index: 999 !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: var(--transition);
}
.navbar-area1 .other-options .option-item {
  margin-left: 20px;
}
.navbar-area1 .other-options .option-item:first-child {
  margin-left: 0;
}
.navbar-area1 .other-options .option-item .contact-link .contact-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 94, 20, 0.11);
  position: relative;
}
.navbar-area1 .other-options .option-item .contact-link .contact-icon img {
  filter: brightness(1) invert(0);
}
.navbar-area1 .other-options .option-item .contact-link div {
  margin-left: 10px;
}
.navbar-area1 .other-options .option-item .contact-link div span {
  line-height: 1;
  display: block;
}
.navbar-area1 .other-options .option-item .contact-link div span:first-child {
  margin-bottom: 8px;
}
.navbar-area1 .other-options .option-item .contact-link:hover .contact-icon {
  background-color: var(--primaryColor);
}
.navbar-area1 .other-options .option-item .contact-link:hover .contact-icon img {
  filter: brightness(0) invert(1);
}
.navbar-area1.style-one.sticky, .navbar-area1.style-three.sticky {
  background-color: #18455c;
}
.navbar-area1.style-one .menu > ul > li > a, .navbar-area1.style-three .menu > ul > li > a {
  color: var(--whiteColor);
}
.navbar-area1.style-one .menu > ul > li > a.active, .navbar-area1.style-one .menu > ul > li > a:hover, .navbar-area1.style-three .menu > ul > li > a.active, .navbar-area1.style-three .menu > ul > li > a:hover {
  color: var(--primaryColor);
}
.navbar-area1.style-two.sticky {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
  background-color: #fff !important;
}
.navbar-area1.style-two .menu > ul > li > a {
  color: var(--titleColor);
}
.navbar-area1.style-two .menu > ul > li > a.active, .navbar-area1.style-two .menu > ul > li > a:hover {
  color: var(--primaryColor);
}
.navbar-area1.style-one .other-options .option-item .contact-link .contact-icon {
  background-color: rgba(255, 94, 20, 0.11);
}
.navbar-area1.style-one .other-options .option-item .contact-link:hover .contact-icon {
  background-color: var(--primaryColor);
}
.navbar-area1.style-three {
  background-color: transparent;
}
.navbar-area1.style-three.sticky {
  background-color: var(--optionalColor);
}
.navbar-area1.style-three .other-options .option-item .contact-link .contact-icon {
  background-color: rgba(255, 255, 255, 0.18);
}
.navbar-area1.style-three .other-options .option-item .contact-link:hover .contact-icon {
  background-color: var(--primaryColor);
}
.navbar-area1.style-four {
  margin-top: 10px;
}
.navbar-area1.style-four.sticky {
  background-color: #F3EAE6 !important;
}

.offcanvas-backdrop {
  background-color: rgba(25, 39, 43, 0.9) !important;
}

.menu > ul > li {
  display: inline-block;
  line-height: 1;
  margin-right: 20px;
}
.menu > ul > li:last-child {
  margin-right: 0;
}
.menu > ul > li.menu-item-has-children a i {
  font-size: 14px;
  font-weight: 300;
  line-height: 0.8;
  margin-left: 1px;
}
.menu > ul > li .menu-column-1 {
  min-width: 17.1rem;
  max-width: 17.1rem;
}
.menu > ul > li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0;
  border: none;
  outline: none;
  z-index: 500;
  opacity: 0;
  list-style: none;
  visibility: hidden;
  background: #FFFBF3;
  transition: all 0.3s ease-in-out;
}
.menu > ul > li .menu-subs li a {
  padding: 13px 20px;
  display: block;
  line-height: 1.6;
  border-left: 2px solid transparent;
  border-bottom: 1px solid rgba(38, 38, 54, 0.08);
}
.menu > ul > li .menu-subs li a:hover, .menu > ul > li .menu-subs li a.active {
  color: var(--primaryColor);
  border-left-color: var(--primaryColor);
}
.menu > ul > li .menu-subs li .menu-subs:before {
  display: none;
}
.menu > ul > li .menu-subs > li:last-child > a {
  border-bottom: none;
}
.menu > ul > li .menu-subs > ul > li {
  line-height: 1;
}
.menu > ul > li .menu-subs > ul > li a {
  display: inline-block;
  font-family: inherit;
  border: none;
  outline: none;
  padding: 15px 0;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.3s ease-in-out;
}
.menu > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 42.5px 0;
  border: none;
  outline: none;
  z-index: 1;
}
.menu > ul > li > a:hover, .menu > ul > li > a.active {
  color: var(--primaryColor);
}
.menu > ul > li:last-child > a:before {
  display: none;
}
.menu ul li a {
  color: var(--titleColor);
  font-weight: 500;
  letter-spacing: 0.015em;
  transition: var(--transition);
}
.menu ul li a.menu-item-has-children i {
  font-weight: 300;
}
.menu ul li a.menu-item-has-children a.active, .menu ul li a.menu-item-has-children a:hover {
  color: var(--primaryColor);
}
.menu ul li a.active, .menu ul li a:hover {
  color: var(--primaryColor);
}
.menu ul li a.active {
  font-weight: 500;
}
.menu .menu-section {
  margin-left: 72px;
}

.menu-mobile-header,
.menu-mobile-trigger {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar-area1 .navbar-brand img {
    max-width: 100px;
  }
  .navbar-area1 .other-options .option-item {
    margin-left: 20px;
  }
  .navbar-area1 .other-options .option-item:first-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-area1 {
    padding: 14px 0;
    z-index: 99;
  }
  .navbar-area1.sticky {
    top: 0 !important;
    margin-top: 0;
  }
  .navbar-area1 .navbar .navbar-brand img {
    max-width: 105px;
  }
  .navbar-area1 .menu {
    border-radius: 0;
  }
  .navbar-area1 .menu ul li a i {
    float: right;
    font-size: 18px;
  }
  .navbar-area1 .menu-mobile-trigger span {
    background: var(--whiteColor);
  }
  .navbar-area1 .menu-section {
    margin-left: 0;
  }
  .navbar-area1.style-one .menu-section, .navbar-area1.style-three .menu-section {
    margin-left: 0;
  }
  .navbar-area1.style-one .menu > ul > li > a, .navbar-area1.style-three .menu > ul > li > a {
    color: var(--titleColor);
  }
  .navbar-area1.style-one .menu > ul > li > a.active, .navbar-area1.style-one .menu > ul > li > a:hover, .navbar-area1.style-three .menu > ul > li > a.active, .navbar-area1.style-three .menu > ul > li > a:hover {
    color: var(--primaryColor);
  }
  .navbar-area1.style-one .other-options .option-item .mobile-options button i, .navbar-area1.style-three .other-options .option-item .mobile-options button i {
    color: var(--whiteColor);
  }
  .navbar-area1.style-one .menu-mobile-trigger span, .navbar-area1.style-three .menu-mobile-trigger span {
    background: var(--whiteColor);
  }
  .navbar-area1.style-two .menu-mobile-trigger span {
    background: var(--titleColor);
  }
  .navbar-area1.style-four {
    margin: 0;
  }
  .navbar-area1.style-four .menu-mobile-trigger span {
    background: var(--titleColor);
  }
  .navbar-area1.style-four .other-options .option-item .mobile-options button i {
    color: var(--titleColor);
  }
  .navbar-area1 .other-options .option-item .mobile-options {
    width: 20px;
  }
  .navbar-area1 .other-options .option-item .mobile-options button:after {
    display: none;
  }
  .navbar-area1 .other-options .option-item .mobile-options button i {
    font-size: 20px;
    position: relative;
    top: 2px;
    line-height: 0.8;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu {
    background-color: var(--titleColor);
    padding: 10px 0;
    max-width: 220px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item {
    width: 197px;
    padding: 5px 12px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .contact-link .contact-icon {
    width: 42px;
    height: 42px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .contact-link div {
    position: relative;
    top: 2px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .contact-link div span {
    font-size: 14px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .contact-link div span:first-child {
    margin-bottom: 5px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .btn span.btn-text {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .btn span.btn-icon {
    width: 38px;
    height: 38px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu .dropdown-item .btn span.btn-icon i {
    font-size: 21px;
  }
  .navbar-area1 .other-options .option-item .mobile-options .dropdown-menu-centered {
    right: 0% !important;
  }
  .menu-mobile-trigger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    background: 0 0;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
  }
  .menu-mobile-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: var(--whiteColor);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .menu-mobile-trigger span:nth-child(1), .menu-mobile-trigger span:nth-child(2) {
    top: 0;
  }
  .menu-mobile-trigger span:nth-child(2), .menu-mobile-trigger span:nth-child(3) {
    top: 0.5rem;
    width: 80%;
    margin-left: 20%;
  }
  .menu-mobile-trigger span:nth-child(4) {
    top: 1rem;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1099;
    overflow: hidden;
    background: #FFFBF3;
    transform: translate(-100%);
    transition: all 0.5s ease-in-out;
  }
  .menu.active {
    transform: translate(0%);
  }
  .menu ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none !important;
  }
  .menu ul li a:after {
    display: none;
  }
  .menu ul li a:hover, .menu ul li a.active {
    color: var(--primaryColor);
    background-color: transparent !important;
  }
  .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }
  .menu > ul > li .menu-subs {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem 0;
    padding-top: 50px;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(100%);
    box-shadow: none;
    transition: var(--transition);
  }
  .menu > ul > li .menu-subs > ul > li a {
    display: block;
  }
  .menu > ul > li .menu-subs.active {
    transform: translateX(0%);
  }
  .menu > ul > li > a {
    display: block;
    padding: 20px 25px;
  }
  .menu > ul > li > a i {
    position: absolute;
    font-size: 22px;
    top: 50%;
    right: 22px;
    text-align: center;
    transform: translateY(-50%) rotate(-90deg);
  }
  .menu .menu-mobile-header {
    position: relative;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 501;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    background: #FFFBF3;
  }
  .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 1.25rem;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.19);
    color: var(--titleColor);
    text-align: center;
  }
  .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }
  .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: var(--titleColor);
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
  }
  .menu .menu-mobile-header .menu-mobile-close {
    font-size: 24px;
    cursor: pointer;
    width: 4.125rem;
    height: 3.125rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--titleColor);
    text-align: center;
  }
  .menu .menu-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.55);
    transition: all 0.3s ease-in-out;
  }
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-area1.style-one .menu > ul > li > a, .navbar-area1.style-three .menu > ul > li > a {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .menu ul > li > .menu-subs > li > .menu-subs {
    left: 100%;
    margin-top: -50px !important;
  }
  .menu ul li:hover > .menu-subs {
    margin-top: -7px;
    opacity: 1;
    visibility: visible;
  }
  .menu ul li.menu-item-has-children .menu-subs li.menu-item-has-children a i {
    float: right;
    top: 5px;
    position: relative;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-area1 .navbar-brand img {
    max-width: 120px;
  }
  .navbar-area1 .menu-section {
    margin-left: 35px;
  }
  .navbar-area1.style-one .container-fluid {
    padding: 0 30px;
  }
  .navbar-area1.style-one .navbar-brand img, .navbar-area1.style-three .navbar-brand img {
    max-width: 108px;
  }
  .navbar-area1.style-four .container-fluid {
    padding: 0 28px;
  }
  .navbar-area1 .other-options .option-item {
    margin-left: 10px;
  }
  .navbar-area1 .other-options .option-item:first-child {
    margin-left: 0;
  }
  .navbar-area1 .other-options .option-item .btn span.btn-text {
    padding: 10px 21px;
    font-size: 15px;
  }
  .navbar-area1 .other-options .option-item .btn span.btn-icon {
    width: 42.5px;
    height: 42.5px;
  }
  .menu > ul > li {
    margin-right: 13px;
  }
  .menu > ul > li:last-child {
    margin-right: 0;
  }
  .menu > ul > li.menu-item-has-children a i {
    margin-left: 1px;
  }
  .menu > ul > li .menu-column-1 {
    min-width: 15.5rem;
    max-width: 15.5rem;
  }
  .menu > ul > li .menu-subs > li > .menu-subs {
    left: -100%;
  }
  .menu ul li a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbar-area1.style-one {
    margin-top: 12px;
  }
  .navbar-area1.style-one .container-fluid {
    padding: 0 30px;
  }
  .navbar-area1.style-one .navbar-brand img, .navbar-area1.style-three .navbar-brand img {
    max-width: 120px;
  }
  .navbar-area1.style-one .menu > ul > li, .navbar-area1.style-three .menu > ul > li {
    margin-right: 15px;
  }
  .navbar-area1.style-one .menu > ul > li:last-child, .navbar-area1.style-three .menu > ul > li:last-child {
    margin-right: 0;
  }
  .navbar-area1.style-one .other-options .option-item .btn, .navbar-area1.style-three .other-options .option-item .btn {
    padding-left: 18px;
    padding-right: 18px;
  }
  .navbar-area1.style-four .container-fluid {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .navbar-area1.style-one {
     background-color: #18455c;
  }
  .navbar-area1.style-one .container-fluid {
    padding: 0 36px;
  }
  .navbar-area1.style-four {
    margin-top: 15px;
  }
  .navbar-area1.style-four .container-fluid {
    padding: 0 38px;
  }
  .menu > ul > li {
    margin-right: 21px;
  }
  .menu > ul > li:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .navbar-area1.style-one .container-fluid {
    padding: 0 120px;
  }
  .navbar-area1.style-three .container-fluid {
    padding: 0 55px;
  }
  .navbar-area1.style-three .menu-section {
    margin-left: 85px;
  }
  .navbar-area1.style-three .other-options .option-item {
    margin-left: 30px;
  }
  .navbar-area1.style-three .other-options .option-item:first-child {
    margin-left: 0;
  }
  .navbar-area1.style-four {
    margin-top: 20px;
  }
  .navbar-area1.style-four .container-fluid {
    padding: 0 70px;
  }
  .menu > ul > li {
    margin-right: 34px;
  }
  .menu > ul > li:last-child {
    margin-right: 0;
  }
}/*# sourceMappingURL=header.css.map */


        .blog-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
            gap: 24px;
            max-width: 1400px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .blog-card {
            position: relative;
            aspect-ratio: 4/5;
            min-height: 400px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
        }


        .blog-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
        }

        .blog-card:hover .blog-image {
            transform: scale(1.05);
        }

        .blog-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(transparent 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.7) 100%);
            height: 45%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: white;
        }

        .blog-title {
            font-size: 1.25rem;
            font-weight: 700;
            color: #ffffff;
            line-height: 1.3;
            margin-bottom: 6px;
            text-shadow: 0 2px 8px rgba(0,0,0,0.5);
        }

        .blog-date {
            font-size: 0.9rem;
            opacity: 0.95;
            margin-bottom: 12px;
            text-shadow: 0 1px 4px rgba(0,0,0,0.5);
        }

        .blog-tag {
            display: center;
            width: 40%;
            background: rgba(104, 104, 104, 0);
            color: #ffffff;
            border: 1px solid rgb(255, 145, 0);
            padding: 6px 14px;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            backdrop-filter: blur(10px);
            box-shadow: 0 4px 12px rgba(255, 215, 0, 0.3);
        }

        @media (max-width: 768px) {
            .blog-grid {
                grid-template-columns: 1fr;
                gap: 20px;
            }

            .blog-card {
                min-height: 360px;
            }

            .blog-title {
                font-size: 1.15rem;
            }
        }